/* General */

@media all {

    header, main, section, nav, footer, aside, article {display: block; box-sizing: border-box;}
    body {font: 400 16px/1.3 'Noto Sans JP',  sans-serif; color: #000; margin: 0; padding: 0;}
    h2 {font: 300 35px/1 'Averia Serif Libre', cursive;}

}

@media screen {

    .container {width: 1040px; margin: 0 auto;}
    main {position: relative; top: 448px;}
    hr {position: absolute; top: 1615px; display: block; border: 4px solid #FC0; width: 100%;}

    /* Background images */
    #heroImage {position: absolute; background: url("../layout1-assets/barn-background.webp") no-repeat 50% 35%; background-size: cover; height: 583px; width: 100%; z-index: -100;}

    /* Masthead section*/
    header h1 {font-family: 'Economica', sans-serif; font-variant: small-caps; line-height: 35px; display: flex; flex-direction: column; align-items: center; margin: 0;}
    #logo-first-word {font-weight: 700; font-size: 54px; margin-top: 14px;}
    #logo-second-word {font-weight: 400; font-size: 43px; margin-top: 4px;}
    nav ul {display: flex; justify-content: center; list-style: none; margin: 25px 0 0 -38px;}
    nav ul li {margin: 0 15px;}
    nav a {text-decoration: none; color: #000; font: 700 16px/1 'Averia Serif Libre';}
    nav a:hover, nav a:focus {color: #980404;}

    /* Virtual tour section*/
    .virtualTour {height: 376px; display: flex; flex-direction: column; align-items: center; padding-top: 98px; color: #980404;}
    .virtualTour h2 {color: #980404; margin-bottom: 49px;}
    .virtualTour a {padding: 15px 30px; border: 1px solid #980404; color: #980404; font-size: 14px; text-decoration: none;}
    .virtualTour a:hover, .virtualTour a:focus {background-color: #980404; color: #fff;}

    /* Farm fresh section */
    .farmFresh {display: flex; flex-direction: row; justify-content: center;}
    .farmFresh div {display: flex; flex-direction: column; align-items: center;}
    .farmFresh p {text-align: center; line-height: 1.8; padding: 0 80px;}
    .farmFresh h2 {margin: 40px 0 4px;}
    #chickenPhoto {background: url("../layout1-assets/chicken.webp") no-repeat center; padding: 200px 260px;}
    #squashPhoto {background: url("../layout1-assets/squash.webp") no-repeat center; padding: 200px 260px;}

    /* Saturday market */
    .saturdayMarket {margin-top: 107px;}
    .saturdayMarket>div {display: flex; justify-content: center;}
    .saturdayMarket>div:first-child div {width: calc(1040px * 0.48);}
    .saturdayMarket>div:first-child a {margin-left: 40px;}
    .saturdayMarket h2 {margin: 0; line-height: 45px; margin-bottom: 30px;}
    .saturdayMarket>div div p {margin: 0;}
    .saturdayMarket>div:last-child {margin-top: 40px;}
    .saturdayMarket>div:last-child div {display: flex; flex-direction: column; align-items: center;}
    .saturdayMarket>div:last-child div:nth-child(2) {margin: 0 35px;}
    .saturdayMarket>div:last-child a {width: 323px;}
    .saturdayMarket>div:last-child div p {margin-top: 21px;}
    #beansPhoto {background: url("../layout1-assets/beans.webp") no-repeat center; background-size: cover; width: 500px; min-height: 314px;}
    #guitarPhoto {background: url("../layout1-assets/guitar.webp") no-repeat center; background-size: cover; min-height: 250px;}
    #facePaintingPhoto {background: url("../layout1-assets/face-painting.webp") no-repeat center; background-size: cover; min-height: 250px;}
    #cauliflowerPhoto {background: url("../layout1-assets/cauliflower.webp") no-repeat center; background-size: cover; min-height: 250px;}

}

/* For internet explorer 11 compatability */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}

@media screen and (max-width: 1050px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 500px) {

}

@media print {

}