/* General */

@media all {

    header, main, section, nav, footer, aside, article {display: block; box-sizing: border-box;}
    body {font: 400 16px/1.3 'Noto Sans JP',  sans-serif; color: #000; margin: 0; padding: 0;}
    h2 {font: 300 35px/1 'Averia Serif Libre', cursive;}

}

@media screen {

    /* Masthead section*/
    header {background: url("../layout1-assets/barn-background.webp") no-repeat 50% 35%; background-size: cover; height: 583px;}
    header h1 {font-family: 'Economica', sans-serif; font-variant: small-caps; line-height: 35px; display: flex; flex-direction: column; align-items: center; margin: 0;}
    #logo-first-word {font-weight: 700; font-size: 54px; margin-top: 14px;}
    #logo-second-word {font-weight: 400; font-size: 43px; margin-top: 4px;}
    nav ul {display: flex; justify-content: center; list-style: none; margin: 25px 0 0 -38px;}
    nav ul li {margin: 0 15px;}
    nav a {text-decoration: none; color: #000; font: 700 16px/1 'Averia Serif Libre';}
    nav a:hover, nav a:focus {color: #980404;}

    /* Virtual tour section*/
    .virtualTour {height: 376px; display: flex; flex-direction: column; align-items: center; padding-top: 98px; color: #980404;}
    .virtualTour h2 {color: #980404; margin-bottom: 49px;}
    .virtualTour a {padding: 15px 30px; border: 1px solid #980404; color: #980404; font-size: 14px; text-decoration: none;}

    /* Farm fresh section */
    .farmFresh {display: flex; flex-direction: row; justify-content: center;}
    .farmFresh div {display: flex; flex-direction: column; align-items: center; width: 520px;}
    #chickenPhoto {background: url("../layout1-assets/chicken.webp") no-repeat center; padding: 200px 260px;}
    #squashPhoto {background: url("../layout1-assets/squash.webp") no-repeat center; padding: 200px 260px;}
}

/* For internet explorer 11 compatability */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}

@media screen and (max-width: 1050px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 500px) {

}

@media print {

}